
h1 {
    color: aqua;
}

.entry-content h2{
    background:#cfaccd;
    color: #fff;
    border-radius: 0;
    font-size:1.15em;
    padding: 1.5em 1.6em;
}
@media only screen and (max-width: 480px){
    .entry-content h2 {
        width: 100vw !important;
        margin-left: calc(50% - 50vw) !important;
        margin-left: initial;
        margin-right: initial;
    }
}